.editLog_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.editLog_header {
  width: 100%;
  margin: 0 auto;
  background-color: #6c733d;
  border-radius: 6px;
}

.editLog_logo {
  margin: 0 auto;
  color: white;
  font-size: 20px;
}

.editLog_createdAt {
  margin: 10px auto 0;
}

.editLog_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  padding: 40px;
}

.editLog_tr {
  width: 100%;
  height: 50px;
}

.editLog_th {
  font-size: 12px;
  font-weight: normal;
}

.editLog_title {
  width: 100%;
  font-weight: 800;
  font-size: 10px;
}

.editLog_logNumberCellContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: auto 0;
}

.editLog_calculatedCell {
  height: 40px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 800;
}

.editLog_iconEdit {
  height: 24px;
  width: 24px;
  margin: 0;
  cursor: pointer;
}

.editLog_inputCellInput {
  height: 40px;
  max-width: 70%;
  font-weight: 800;
  background-color: #f5f5f5;
  text-align: center;
  border: none;
  border-radius: 6px;
  padding: 0 8px;
}

.editLog_logConfigContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.editLog_logConfigForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editLog_logConfigLabel {
  display: block;
  width: 100%;
  font-size: 10px;
  margin-right: auto;
}

.editLog_logConfigInput {
  display: block;
  width: calc(100% - 20px);
}

.editLog_inputPointModalContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.editLog_chichaRadioContainer {
  display: flex;
  justify-content: space-around;
}

.editLog_createdAt {
  margin-bottom: 10px;
  font-weight: 800;
}

.editLog_miyabqContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editLog_miyabqMessage {
  font-weight: 800;
  margin: 20px 0;
}

.editLog_miyabqMessageSuccess {
  font-weight: 800;
  color: blue;
}

.editLog_miyabqMessageFailed {
  font-weight: 800;
  color: red;
}

