.editLog_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.editLog_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  padding: 40px;
}

.editLog_tr {
  width: 100%;
  height: 50px;
}

.editLog_th {
  font-size: 12px;
  font-weight: normal;
}

.editLog_title {
  width: 100%;
  font-size: 10px;
}

.editLog_logNumberCell {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.editLog_calculatedCell {
  width: 100%;
}

.editLog_inputCellInput {
  width: 100%;
  height: 40px;
  width: 80%;
}

.editLog_logConfigContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.editLog_logConfigForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editLog_logConfigLabel {
  display: block;
  width: 100%;
  font-size: 10px;
  margin-right: auto;
}

.editLog_logConfigInput {
  display: block;
  width: calc(100% - 20px);
}

.editLog_inputPointModalContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.editLog_chichaRadioContainer {
  display: flex;
  justify-content: space-around;
}
