/* Home.elm 用のスタイル */
.home_button_primary {
  display: flex;
  color: white;
  background-color: #6C733D;
  border-radius: 5px;
  height: 50px;
  width: 250px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.home_button_container {
  margin: 10px 5px;
}

