/* 共通で使うクラス */
.container {
  margin: 10px;
  display: flex;
  flex-flow: column;
  padding: 30px 20px;
  width: 100% - 50px;
  max-width: 500px;
  min-height: 200px;
  align-items: center;
  box-shadow: 0 0 8px gray;
  background-color: #f2f2f2;
}

/* Home.elm 用のスタイル */
.button_primary {
  display: flex;
  color: white;
  background-color: #6c733d;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button_container {
  margin: 20px 5px;
  width: 250px;
}

.button_container_mini {
  width: 40px;
}
